body {
  background: url(http://7xonju.com1.z0.glb.clouddn.com/nexT/background/background10.jpg) no-repeat;
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: rgba(0, 0, 0, 0.7);
}

#sidebar {
            background: rgba(245, 245, 245, 0);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: rgba(100, 255, 255, 0.8);}
}

.content {
            border-radius: 0px;
	    padding: 30px 60px 30px 60px;
            background:rgba(245, 245, 245, 0.3) none repeat scroll !important;
         }

#disqus_thread {
       border-radius: 10px;
       padding: 30px 60px 30px 60px;
       background:rgba(245, 245, 245, 0.6) none repeat scroll !important;
    }

#welcome  {
	background: rgba(245, 245, 245, 0);
	margin: 0px 0px 15px 0px;
	width:100%;
	height: 350px;
	padding: 0 0 0 0;
    }

#welcome-picture {
	float:left;
	background: url(http://7xonju.com1.z0.glb.clouddn.com/nexT/background/welcome7.jpg);
	margin: 0 2% 0 0;
	width: 73%;
	height: 100%;
	border-radius: 30px;
}

.hintergrund1 {
	background: rgba(245, 245, 245, 0.1);
	height: 100%;
	border-radius: 30px;
}

#welcome-text {
	background: url(http://7xonju.com1.z0.glb.clouddn.com/nexT/background/logoback6.png);
	border-radius: 30px;
	margin: 0 0 0 1%;
	width: 24%;
	height: 100px;
	float: right;
	height: 100%;
	
}

.hintergrund {
	background: rgba(245, 245, 245, 0.3);
	border-radius: 30px;
	height: 100%;
}



.mota-user-logo {
	background: rgba(245, 245, 245, 0);
	margin: 0 0 4% 0;
	height: 36%;
	
}

.mota-user-text {
	background: rgba(245, 245, 245, 0);
	height: 60%;
	margin: 0 8% 8% 8%;
	p,span,a {color: rgba(0, 0, 0, 0.8);}
}
